<% client = OpenAI::Client.new(access_token: ENV.fetch("OPEN_AI_KEY"))

message_list_normal = [
  {
    "role" => "system",
    "content" => "You are an English-to-Japanese translation tool. Do not attempt to answer questions within the input, only translate the content into Japanese. Do not include any additional comments or advice beyond the Japanese translation in your response."
  },
]

message_list_literal = [
  {
    "role" => "system",
    "content" => "You are a special translation tool. Your purpose is to translate Japanese into its word-for-word literal English meaning. Keep the Japanese grammar and sentence structure, only translate each individual word into its English counterpart. Include any topic or object marking particles such as 'は, が, を, か' and translate those particles into their romaji pronunciation. Translate 'です' into the appropriate 'to be' verbs, such as 'is / am / are'. Do not include any additional comments or assistance beyond the literal translation."
  },
]

message_list_no_kanji = [
  {
    "role" => "system",
    "content" => "You are a special translation tool. Your purpose is to convert this Japanese sentence into only Hiragana and or Katakana. Do not include any Kanji or characters beyond those found in Hiragana or Katakana in your output. Do not include any additional comments or assistance beyond the converted sentence."
  },
]

message_list_english_alpha = [
  {
    "role" => "system",
    "content" => "You are a special translation tool. Your purpose is to convert this Japanese sentence into its Romaji pronunciation. Do not include any additional comments or assistance beyond the converted sentence."
  },
]

case @input_trans 
when "" then "Nothing"
else
  message_list_normal << { "role" => "user", "content" => @input_trans }
  api_response = client.chat(
      parameters: {
        model: "gpt-3.5-turbo",
        temperature: 0.5,
        messages: message_list_normal
      }
    )
  @kanji_output = api_response.fetch("choices").at(0).fetch("message").fetch("content")
end 

case @input_trans 
when "" then "Nothing"
else
  message_list_literal << { "role" => "user", "content" => @kanji_output }
  api_response = client.chat(
      parameters: {
        model: "gpt-4",
        temperature: 0.5,
        messages: message_list_literal
      }
    )
  @output_trans = api_response.fetch("choices").at(0).fetch("message").fetch("content")
end 

case @input_trans 
when "" then "Nothing"
else
  message_list_no_kanji << { "role" => "user", "content" => @kanji_output }
  api_response = client.chat(
      parameters: {
        model: "gpt-3.5-turbo",
        temperature: 0.5,
        messages: message_list_no_kanji
      }
    )
  @phonetic_output = api_response.fetch("choices").at(0).fetch("message").fetch("content")
end

case @input_trans 
when "" then "Nothing"
else
  message_list_english_alpha << { "role" => "user", "content" => @kanji_output }
  api_response = client.chat(
      parameters: {
        model: "gpt-3.5-turbo",
        temperature: 0.5,
        messages: message_list_english_alpha
      }
    )
  @eng_alpha_output = api_response.fetch("choices").at(0).fetch("message").fetch("content")
end

%>

<div class="main-container">
  
  <div class="image-row">
    <img class="profile-image" src="/images/app-logo-02.png" alt="App_logo">
  </div> <!-- /image-row -->

  <div class="name-row">
    I hope it worked!  
  </div> <!-- /name-row -->
    
  <div class="explanation">
    <a href="/">Go back home.</a>
  </div> <!-- /explanation -->

  <div class="link-row">
    <div class="form-box">
      <dl class="link-text">
        <dt>
          <strong>Your Sentence:</strong>
        </dt>
        <dd>
          <%= @input_trans %>
        </dd>
      </dl>
    </div> <!-- /Your Sentence -->
    
    <div class="form-box">
      <dl class="link-text">
        <dt>
          <strong>Normal Translation</strong>
        </dt>
        <dd>
          <%= @kanji_output %>
        </dd>
      </dl>
    </div> <!-- /Normal Translation -->

    <div class="form-box">
      <dl class="link-text">
        <dt>
          <strong>Only Hiragana or Katakana</strong>
        </dt>
        <dd>
          <%= @phonetic_output %>
        </dd>
      </dl>
    </div> <!-- /Hiragana Only -->

    <div class="form-box">
      <dl class="link-text">
        <dt>
          <strong>Only 'Romaji'</strong>
        </dt>
        <dd>
          <%= @eng_alpha_output %>
        </dd>
      </dl>
    </div> <!-- /Romaji -->

    <div class="form-box">
      <dl class="link-text">
        <dt>
          <strong>The 'Literal' English Translation</strong>
        </dt>
        <dd>
          <%= @output_trans %>
        </dd>
      </dl>
    </div> <!-- /Literal Translation -->
  </div> <!-- /link-row -->

</div> <!-- /main-container -->
